<div id="container">
        <div class="conversation" [innerHTML]="conversation"></div>
        <div class="chat-input">
            <textarea #text id="text" placeholder="Text sent to ChatGPT">{{voiceRecognition.tempWords}}{{voiceRecognition.text}}</textarea>
            <div class="interactions">
                <button (click)="callAPI(text.value);text.value=''" mat-fab color="primary"><span class="material-symbols-outlined">send</span></button>
                <button (click)="voiceRecognitionSwitch()" mat-fab color="{{this.voiceButtonColor}}"><span class="material-symbols-outlined">mic</span></button>
            </div>
        </div>
</div>